<!DOCTYPE html>
<html>
<body>
<h2>User Info (Admin)</h2>
<br><br>
<form th:action="@{/admin/saveUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div>
        Username: <input type="text" th:field="*{username}"/>
    </div>
    <br>
    <div>
        Password: <input type="password" th:field="*{password}"/>
    </div>
    <br>
    <div>
        Age: <input type="number" th:field="*{age}"/>
    </div>
    <br>
    <div>
        <label for="roles">Roles:</label>
        <select th:field="*{roles}" id="roles">
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>

        </select>
    </div>
    <br>
    <input type="submit" value="Save"/>
</form>
</body>
</html>